.top-bar {
    height: 8vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;

    font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;

    img {
        height: 50px;
        width: 50px;
    }

    .text {
        font-size: 25px;
        margin: auto;
        color: #0000EE;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}