* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

.clfy {
    display: flex;
    flex: 1;
    position: absolute;
    top: 10vh;

    .sidenav {
        flex: 0.01;
        z-index: 1;
        transition: .11s ease-in;
        background-color: white !important;
        position: relative;
        &:hover {
            flex: 0.4;
            position: relative;
            background-color: white !important;
        }

    }

    .router-outlet {
        flex: 0.8;
        z-index: 0;
        height: auto;
        position: absolute;
        margin-left: 50px;
        width: 100vw;
        height: auto;
    }
}