<div class="sidebar-container">
    <a class="flow" routerLink="">
        <button mat-icon-button matTooltip="Basic" aria-label="Home">
            <mat-icon>home</mat-icon>
        </button>
        <div class="text">Home</div>
    </a>

    <a class="flow" routerLink="/movies">
        <button mat-icon-button matTooltip="Basic" aria-label="Movies">
            <mat-icon>videocam</mat-icon>
        </button>
        <div class="text">Movies</div>
    </a>
    <a class="flow" routerLink="/settings">
        <button mat-icon-button matTooltip="Basic" aria-label="Settings">
            <mat-icon>settings</mat-icon>
        </button>
        <div class="text">Settings</div>
    </a>
</div>
