<div class="home-container">
    <div class="words">
    <p>Dynamic filters enhance the user experience by allowing them to refine and customize their search or browsing
        preferences in real-time. Unlike static filters, dynamic filters adapt to the changing needs of users,
        responding to their actions as they interact with content or data. This flexibility empowers users to tailor
        their search criteria, selecting and deselecting filter options on the fly, without requiring page refreshes.
        Whether applied to e-commerce product listings, data tables, or search results, dynamic filters provide a
        dynamic and interactive way for users to access the specific information they seek, offering a more intuitive
        and efficient browsing experience.</p>
    </div>
</div>