.home-container {
    height: 90vh;
    background-color: #f4f4f4;
    width: 95vw;
    display: flex;
}

.words {
    margin: auto;
    width: 50%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 11px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 11px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 11px 5px 0px rgba(0, 0, 0, 0.75);
}